<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <div class="title_two">Leave blank if you don't want to change the password.</div><!-- /title_two -->
  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password, :autocomplete => :off, :class => "medsize" %>
  </div>
  <br />
  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :autocomplete => :off, :class => "medsize" %>
  </div>
  <div class="butt_create">
    <a id="submit"><span class="butt_update"></span></a> <%= link_to '<span class="butt_cancel"></span>'.html_safe, root_url %>
  </div><!-- /butt_create -->
<% end %>