<% content_for :head do %>
	<%= javascript_include_tag 'user_form.js' %>
<% end %>

<% form_for @user do |f| %>

<div id="Main_Table">

	<table id="TopTable" cellpadding="0" cellspacing="0">
		<tr><td class="bleft"></td><td class="bmid"></td><td class="bright"></td></tr>
	</table><!-- /TopTable -->

	<div id="TopTitle">Edit Settings</div><!-- /TopTitle -->

	<div class="menu_content">
		<%= f.error_messages %>
		
    	<div class="title_two">Leave blank if you don't want to change the password.</div><!-- /title_two -->
        <div>
			<%= f.label :password %><br />
			<%= f.password_field :password, :autocomplete => :off, :class => "medsize" %>
		</div>
        <br />
        <div>
			<%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation, :autocomplete => :off, :class => "medsize" %>
		</div>
    </div><!-- /menu_content --> 
    
    <div class="butt_create">
		<a id="submit"><span class="butt_update"></span></a> <%= link_to '<span class="butt_cancel"></span>', root_url %>
    </div><!-- /butt_create -->

</div><!-- /Main_Table -->
<% end %>