<div class="title_two">You can upload a custom image to be used as the cover of the wheel. You can get the template of a blank cover <%= link_to 'here', :action => :draw_blank_cover, :id => @wheel.id %>.</div><!-- /title_two -->

<% if @wheel.cover_image_path %>
  <br/>
  <%= link_to image_tag(@wheel.cover_image_path, :height => 60), @wheel.cover_image_path, :target => '_blank' %>
<% end %>

<br />

<div class="title_four"><%= f.label :cover_image_file, 'Cover image:' %></div>
<div><%= f.file_field :cover_image_file %></div>

<% if @wheel.cover_image_path %>
	<br/><br/>
	<%= f.check_box :dont_use_cover_image_file %> <%= f.label :dont_use_cover_image_file, "Or just check this if you don't want to use a blank cover" %>
<% end %>