:javascript
  $(function() { initWheelForm(); });
.row-fluid
  .span6
    = f.error_messages :show_fields => false, :exclude => ["factors", "wheel_rows.index", "wheel_rows.wheel_values.code", "wheel_rows.wheel_values.index"], :header_message => nil
.row-fluid
  .span4
    %h3 Properties
    = render :partial => 'general', :locals => {:f => f}
.row-fluid
  .span4
    = render :partial => 'values', :locals => {:f => f}
    - unless @wheel.new_record?
      = render :partial => 'cover', :locals => {:f => f}
.row-fluid
  .span4
    = render :partial => 'sms_interaction', :locals => {:f => f}
.row-fluid
  .span4
    = render :partial => 'voice_interaction', :locals => {:f => f}
%hr
.row-fluid
  .span12
    = link_to 'Cancel', {:controller => :wheel, :action => :index}, :class => 'btn'
    - if @wheel.new_record?
      %a.btn.btn-primary#submit
        Create wheel
    - else
      %a.btn.btn-primary{:onclick => "should_recalculate_factors(#{@wheel.id})"}
        Update
      = icon_link_to :'icf-delete', 'Delete this wheel', {:action => :delete, :id => @wheel.id}, data: {:confirm => "Are you sure you want to delete the wheel #{@wheel.name}?"}, :class => 'pull-right'
