<div class="label_box">
	
	<%= f.hidden_field :index, :class => 'label_index' %>

	<div class="delete_box">
		<%= link_to_remove_label f %>
	</div><!-- /delete_box -->
    
    <div class="title_three">
		<span onclick="javascript:edit_field(this);"><%= f.object.label %></span>
		<%= f.text_field :label, :class => 'medsize hidden' %>
	</div><!-- /title_three -->
    
    <div class="left">
		<input type="text" class="smallsize add_value" placeholder="Add Value" />
		<%= link_to_add_value "Add value", f, :wheel_values %>
	</div><!-- /left -->  
    
	<div class="values">
		<% f.fields_for :wheel_values do |builder| %>
			<%= render 'wheel_value_fields', :f => builder %>
		<% end %>
    </div><!-- /values -->                        
    
    <div class="clear"></div><!-- /clear -->

</div><!-- /label_box -->

<%= drop_box %>