<% content_for :head do %>
	<link rel="stylesheet" href="/stylesheets/jquery-ui-1.8.6.custom.css" type="text/css"/>
	
	<%= javascript_include_tag 'jquery-ui-1.8.6.custom.min.js', 'jquery.svg.min', 'jquery.svganim.min' %>
	
	<script type="text/javascript">		
		function update(id, value) {
			target = $("#" + id).attr("target");
			$("#" + target).animate({svgTransform: 'rotate(' + value + ',296.8,296.8)'}, 10);
		}
		
		$(function() {
			$(".slider").slider({
				slide: function(event, ui) { update(this.id, ui.value); },
				max: 90,
				min: -90,
				orientation: "vertical"
			});
		});
		
		function reset_sliders() {
			$(".slider").slider("option", "value", 0);
		}
		
		function update_print_configuration(id) {
			form = $("#update_form");
			form_data = form.serialize();
			$.post('/wheel/update_print_configuration/' + id, form_data, function(data) {
				$("#svg").html(data);
				reset_sliders();
				$(window).scrollTop($('#svg').offset().top);
			});
		}
	</script>
<% end %>
<% content_for :content do %>
	<h4><%= link_to_function 'Wheel preview (click to show/hide)', "toggle('draw_preview')" %></h4>
	<div id="draw_preview">
		<div id="svg" style="float: left">
			<%= @content %>
		</div>
		<div style="float:left; margin: 30px">
		<% @wheel.rows.length.times do |i| %>
			<div id="slider<%=i+1%>" target="surface<%=i+1%>" class="slider" style="float:left; height:500px; margin: 10px"></div>
		<% end %>
		</div>
		<div style="clear:both;"></div>
	</div>
	
	<% form_for @wheel, :url => {:action => :update_print_configuration, :id => @wheel.id}, :html => {:id => 'update_form'} do |builder| %>
		<%= render "print_configuration", :f => builder %>
		<p>
			<%= button_to_function 'Update', "update_print_configuration(#{@wheel.id})" %>
		</p>
	<% end %>
	<%= link_to 'Done', :controller => :wheel, :action => :index %>
<% end %>