= render 'shared_tabs'
.row-fluid
  .span12
    %h3 Status

.row-fluid
  .span2
    .StateDisplay
      .values
        .U
          %span.big= @records_count
          %span reports received
      .action
        = link_to 'Download as CSV', {:controller => 'wheel_record', :action => 'csv', :id => @wheel.id}, :class => 'btn btn-primary pull-right'
%br
%br
.row-fluid
  .span12
    %h3 Preview
%br
.row-fluid
  .span12
    = link_to 'Download printable version', {:action => :draw, :id => @wheel.id}, :target => "_blank", :class => 'btn'
%br
.row-fluid
  .span12
    = image_tag 'wheel_preview.png'
