<h2>Wheel <%= @wheel.name %></h2>

<h4>Labels and values</h4>

<div class="description">When testing a report below, report in this order:</div>
<br/>

<%
@wheel.rows.sort{|a, b| b <=> a}.each do |row|
  %>
  <table>
    <tr>
      <th align="center" colspan="<%= row.values.length %>"><%= row.label %></th>
    </tr>
    <tr>
      <% row.values.sort.each do |value| %>
        <th><%= value.value %></th>
      <% end %>
    </tr>
    <tr>
      <% row.values.sort.each do |value| %>
        <td><%= "%03d" % value.code %></td>
      <% end %>
    </tr>
  </table>
  <%
end
%>

<h4>Test a report</h4>

<% form_for :report, :html => {'onsubmit' => 'return test_report_code()'} do |f| %>
  <p>
	  <%= f.label :code, 'Code:' %><br/>
	  <%= f.text_field :code, :id => 'report_code' %> <span id="report_result" /><br/>
  </p>
	<%= f.submit "Test report code" %>
<% end %>

<script>
$(function() {
  $("#report_code").keydown(function() {
    $("#report_result").html("");
  });
});
</script>

<br/>

<%= link_to 'Go back', :controller => :wheel, :action => :index %>
