<h4>Wheel <%= @wheel.name %></h4>

<p>
	To submit reports use this url: <strong><%= decode_url %></strong>
	<a href="http://code.google.com/p/reportingwheel/wiki/API#Decode_a_wheel_code" target="_blank">
		<img src="/images/question.png" width="14" height="14"/>
	</a>
</p>

<% if @wheel.has_callback? %>
	<p><strong>URL Callback</strong>: <%= @wheel.url_callback %>
		<a href="http://code.google.com/p/reportingwheel/wiki/API#Callback" target="_blank">
			<img src="/images/question.png" width="14" height="14"/>
		</a>
	</p>
<% end %>

<h4>Labels and values</h4>

<div class="description">When testing a report below, report in this order:</div>
<br/>

<%
@wheel.rows.sort{|a, b| b <=> a}.each do |row|
  %>
  <table>
    <tr>
      <th align="center" colspan="<%= row.values.length %>"><%= row.label %></th>
    </tr>
    <tr>
      <% row.values.sort.each do |value| %>
        <th><%= value.value %></th>
      <% end %>
    </tr>
    <tr>
      <% row.values.sort.each do |value| %>
        <td><%= "%03d" % value.code %></td>
      <% end %>
    </tr>
  </table>
  <%
end
%>

<h4>Test a report</h4>

<% form_for :report, :html => {'onsubmit' => 'return test_report_code()'} do |f| %>
  <p>
	  <%= f.label :code, 'Code:' %><br/>
	  <%= f.text_field :code, :id => 'report_code' %> <span id="report_result"></span><br/>
  </p>
	<%= f.submit "Test report code" %>
<% end %>

<script>
$(function() {
  $("#report_code").keydown(function() {
    $("#report_result").text("");
  });
});
</script>

<br/>

<%= link_to 'Go back', :controller => :wheel, :action => :index %>
