<h4>Records for Wheel <%= @wheel.name %></h4>

<% unless @records.empty? %>
<table>
	<tr>
		<th>Date</th>
		<th>Code</th>
		<th>Data</th>
		<th>Original</th>
		<th>Decoded</th>
	</tr>
	<% for record in @records %>
		<tr>
			<td><%= record.created_at %></td>
			<td><%= record.code %></td>
			<td><%= record.data_str %></td>
			<td><%= record.original %></td>
			<td><%= record.decoded %></td>
		</tr>
	<% end %>
</table>
<% else %>
<p><strong>There aren't any records yet for this wheel</strong></p>
<% end %>
<br/>
<%= link_to 'Go back', root_url %>