<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Reporting Wheels</title>
	
	<link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
	<%= javascript_include_tag 'application', 'jquery-1.4.2.min' %>
	<%= yield :head %>
</head>
<body>
<div id="Main">
    <div id="Content_container">
        <div id="Header">
            <div id="Logo" title="Reporting Wheels"></div><!-- /Logo -->
			<% if logged_in? %>
				<h2><%= current_user.username %> | <%= link_to 'Logout', logout_url %></h2>
			<% end %>
        </div><!-- /Header -->
        <div id="Content">
			<%= yield(:content) or yield %>
        </div><!-- /Content -->
    </div><!-- /Content_container -->
</div><!-- /Main -->
<div id="Footer">&copy; 2010 Reporting Wheels<div id="version">Version: <%= app_version %></div></div><!-- /Footer -->
</body>
</html>
