<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Reporting Wheel</title>
	
	<link rel="stylesheet" href="/stylesheets/scaffold.css" type="text/css"/>
	<%= javascript_include_tag 'application', 'jquery-1.4.2.min' %>
	<%= yield :head %>
</head>
<body>
	<div id="header">
		<h1><%= link_to 'Reporting Wheel', root_url %></h1>
		<% if logged_in? %>
			<h2><%= current_user.username %> | <%= link_to 'Logout', logout_url %></h2>
		<% end %>
		<div class="clear"></div>
	</div>
	<div id="main">
		<%= yield(:content) or yield %>
	</div>
	<div id="version">Version: <%= app_version %></div>
</body>
</html>
